@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f2f2f2;
  background-color: #08070b;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
