@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F2F2F2;
    background-color: #001f3f;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}